<div class="carousel-wrapper">
  <div class="carousel-card">
    <div class="carousel">
      <!-- image$ utilisé directement avec l'async pipe -->
      <img
        [src]="image$ | async"
        [style.width]="imageWidth"
        [style.height]="imageHeight"
        class="carousel-image"
        alt="carousel image"
      />
    </div>


    <div class="controls">
      <label class="control-item">
        Interval (ms)
        <input type="number" [value]="intervalTime" (change)="updateInterval($event)" />
      </label>

      <label class="control-item">
        Width
        <input type="text" [(ngModel)]="imageWidth" />
      </label>

      <label class="control-item">
        Height
        <input type="text" [(ngModel)]="imageHeight" />
      </label>
    </div>
  </div>
</div>