<div class="ttc-container">
  <h2>Calculateur de Prix TTC</h2>

  <div>
    <label>Prix unitaire :</label>
    <input type="number" [value]="price()" (input)="price.set($any($event.target).valueAsNumber)">
  </div>

  <div>
    <label>Quantité :</label>
    <input type="number" [value]="quantity()" (input)="quantity.set($any($event.target).valueAsNumber)">
  </div>

  <div>
    <label>TVA (%) :</label>
    <input type="number" [value]="tva()" (input)="tva.set($any($event.target).valueAsNumber)">
  </div>

  <hr>

  <p><strong>Prix unitaire TTC (avant remise) :</strong> {{ unitTTCBefore()}} €</p>

  <p><strong>Remise appliquée (TTC) :</strong> {{ discountTTC() }} €</p>

  <p><strong>Total TTC après remise :</strong> {{ ttc() }} €</p>

 
 
</div>
